<template name="modal_save">
  <div id="save" class="modal modal-fixed-footer save">
    <div class="modal-content">
      <h4>Save Search Query</h4>
      <p>When you save a search query, you are saving the search parameters (e.g. Firstname = "John", Lastname ="Smith")</p>
      <p>You will be able to get the latest list of contacts whenever you open a saved search query</p>
      <form class>
        <div class="input-field">
          <input type="text" id="search_name" clas="validate">
          <label for="search_name">Give your search a name</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-action modal-close btn-flat menu_save">Save</a>
      <a href="#!" class="modal-action modal-close btn-flat ">Cancel</a>
    </div>
  </div>
</template>
