<template name="add_contact">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red modal-trigger" href="#modal1"><i class="mdi-content-add"></i></a>
    <!-- <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul> -->
  </div>
  {{> modalAddContact}}
</template>

<template name="modalAddContact">
  <div id="modal1" class="modal modal-fixed-footer">
     <div class="modal-content">
       <h4>Add Contact</h4>
       <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <!-- <i class="material-icons prefix">account_circle</i> -->
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <!-- <i class="material-icons prefix">phone</i> -->
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
    </form>
  </div>
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-action modal-close btn-flat ">Add</a>
       <a href="#!" class="modal-action modal-close btn-flat ">Cancel</a>
     </div>
   </div>
</template>
