<template name="contact_us">
  <div class="section">
     <center><h1>CONTACT US</h1></center>

      <div class="row">
        <div class="col s12 m6">
          <div class="card white darken-1">
            <div class="card-content black-text">
            <ul>
              <h3 class="contact_us_subhead">Ohio State University English Department</h3>
              <br>
              <li><h3 class="contact_us_subhead">Office</h3></li>
              <li>421 Denney Hall</li>
              <li>164 Annie & John Glenn Avenue</li>
              <li>Columbus OH, 43210</li>
              <br>
              <li><a href="https://www.google.com/maps?q=421+Denney+Hall&bav=on.2,or.r_cp.&bvm=bv.132479545,d.amc&biw=1920&bih=950&dpr=1&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjBtYmV_Y3PAhWLxYMKHVS3A1cQ_AUIBigB">View Map</a></li>
              <br>
              
                
                <li><h3 class="contact_us_subhead">E-mail</h3></li>
                <li><a href="mailto:english.admin@osu.edu">english.admin@osu.edu</a></li>
                <br>
              
            </ul>
            </div>
</div>

          </div>
        </div>
      </div>
</template>
