<template name="staff">
  <div class="background" style="background-image:url(staff.jpg)">

    <div class="container">
      <h1>Staff</h1>
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <a href="/schools">
            <div class="staff icon-block frosted circle z-depth-4">
              <h2 class="center"><i class="mdi-social-school"></i></h2>
              <h5 class="center">Schools</h5>
              <p class="light"></p>
            </div>
          </a>

          </div>

          <div class="col s12 m4">
            <a href="/contacts">

            <div class="staff icon-block frosted circle z-depth-4" >
              <h2 class="center"><i class="mdi-social-group"></i></h2>
              <h5 class="center">Contacts</h5>
            </div>
          </a>
          </div>

          <div class="col s12 m4">
            <a href="/donations">
            <div class="staff icon-block frosted circle z-depth-4">
              <h2 class="center"><i class="mdi-action-wallet-giftcard"></i></h2>
              <h5 class="center">Donations</h5>
            </div>
          </a>
          </div>
        </div>
      </div>
      <br><br>

      <div class="section">

      </div>
    </div>
</div>


</template>
