<template name="tools">
  <h1>   </h1>
<div class="container">
  <div class="section">
    <div class="row">
           <div class="col s12 m3">
             <a href="/tools/submissions_by_ee">
             <div class="card-panel grey lighten-1 tool-border tool-card-panel">
               <img src="images/tools1.svg" class="tool-img">
             </div>
             <div class="tool-card-content ee-yellow">
               <span class="card-title tool-card-title activator  white-text">Coming Soon</span>
              </div>
            </a>
           </div>

           <div class="col s12 m3">
             <a href="/tools/research_by_ee">
             <div class="card-panel grey lighten-1 tool-border tool-card-panel">
               <img src="images/tools2.svg" class="tool-img">
             </div>
             <div class="tool-card-content ee-yellow">
               <span class=" card-title tool-card-title activator white-text">Coming Soon</span>

              </div>
              </a>
           </div>

           <div class="col s12 m3">
             <a href="/tools/research_into_ee">
               <div class="card-panel grey lighten-1 tool-border tool-card-panel">
                 <img src="images/tools3.svg" class="tool-img">
               </div>

             <div class="tool-card-content ee-yellow">
               <span class=" card-title tool-card-title activator white-text">Coming Soon</span>
              </div>
              </a>
           </div>

           <div class="col s12 m3">
             <div class="card-panel">
               <img src="images/tool4.jpg" class="tool-img">
               <a class="btn tool-btn">Coming Soon</a>
             </div>
           </div>

       </div>
       </div>
     </div>
</template>



