<template name="accounts">
  <div class="background accounts_background">
      <div class="accounts">
    {{#if currentUser}}
        {{> dashboard}}
    {{else}}
        {{> login}}
    {{/if}}
  </div>
</div>
</template>

<template name="dashboard">
  <div class="accounts card">
    <div class="card-content black-text">
      <span class="card-title black-text">Logged in as {{userEmailAddress}}</span>
      <p><a href="#" class="logout">Logout</a></p>
    </div>
   </div>
</template>

<template name="login">
       <div class="accounts card">
          <div class="card-content black-text">
            <span class="card-title black-text">Staff Log In</span>
            <p>Please use your OSU email address to log in</p>
            <form id="login-form" action="action">
              <div class="input-field col s12">
                <input type="email" id="login-email" class="validate" />
                <label for="login-email">Email</label>
              </div>
              <div class="input-field col s12">
                <input type="password" id="login-password" class="validate" />
                <label for="login-password">Password</label>
              </div>
              <div class="col s6">
                <input type="submit" class="waves-effect waves-light btn" id="login-button" value="Sign in" />
              </div>
              <div class="col s6">
                <a href="/accounts/register">Register as a new user</a>
              </div>
              <div class="input-field col s12">
            </div>
            </form>
          </div>
        </div>
</template>

<template name="register">

  <div class="background accounts_background">
    <div class="accounts">
      {{#if currentUser}}
          {{> dashboard}}
      {{else}}
      <div class="accounts card">
          <div class="card-content black-text">
              <span class="card-title black-text">Staff Register</span>
              <p>Please use your OSU email address to register as a new user</p>
              <form id="register-form" action="action">
                <div class="input-field col s12">
                  <input id="register-email" type="email" class="validate" name="registerEmail">
                  <label for="register-email">Email</label>
                </div>
                <div class="input-field col s12">
                  <input id="register-password" type="password" class="validate" name="registerPassword">
                  <label for="register-password">Password</label>
                </div>
                <div class="col s6">
                  <input class="btn waves-effect waves-light" type="submit" value="Register">
                </div>
                <div class="col s6">
                  <a href="/accounts">Login as an existing user</a>
                </div>
                <div class="input-field col s12"></div>
              </form>
            </div>
          </div>
          {{/if}}

        </div>
  </div>

</template>
